
# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Build / dist
build/
dist/
*.egg

venv/
__pycache__/
*.pyc
.env
.DS_Store
data/
